body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main {
  width: 100vw;
  min-height: 101vh;
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-4 {
  min-width: 100px;
}

.fs-sm {
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 640px) {
  body,
  .main {
    overflow: auto;
    overflow-x: hidden;
  }
}
